@model WebGameClient.Models.Game
@using Microsoft.AspNet.Identity
@using WebGameClient.Models
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Game.css")
<body>
    <div class="bottom">
        @{var userId = User.Identity.GetUserId(); }
        @{CGUser user = null; }
        @foreach (var CGUser in Model.gameTable.Users) {
            if (CGUser.Id == userId) {
                user = CGUser;
            }
        }
        @Html.DisplayText(user.UserName)
        <br />
        @Html.Label(user.cards[0].Name)
        @Html.Label(user.cards[1].Name)
        @Html.Label(user.cards[2].Name)
        @Html.Label(user.cards[3].Name)
        @Html.Label(user.cards[4].Name)

    </div>
    <div class="left">
        This is to the left
        @Html.Label("Card 1")
        @Html.Label("Card 2")
        @Html.Label("Card 3")
        @Html.Label("Card 4")
        @Html.Label("Card 5")
    </div>
    <div class="right">
        This is to the right

        @Html.Label("Card 1")
        @Html.Label("Card 2")
        @Html.Label("Card 3")
        @Html.Label("Card 4")
        @Html.Label("Card 5")
    </div>
    <div class="top">
        Someplayer
        @Html.Label("Card 1")
        @Html.Label("Card 2")
        @Html.Label("Card 3")
        @Html.Label("Card 4")
        @Html.Label("Card 5")
    </div>
    <div class="middle"> This is in the middle  </div>

</body>

