@model WebGameClient.Models.Game
@using Microsoft.AspNet.Identity
@using WebGameClient.Models
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Game.css")
<body>
    <div class="bottom">
        @{var userId = User.Identity.GetUserId(); }
        @{CGUser playerOne = null; }
        @{List<CGUser> users = new List<CGUser>(Model.gameTable.Users); }
        @{List<CGUser> deletedUsers = new List<CGUser>(); }
        @foreach (var CGUser in users) {
            if (CGUser.Id == userId) {
                playerOne = CGUser;
                deletedUsers.Add(CGUser);
            }
        }
        @{users.Except(deletedUsers); }
        @Html.DisplayText(playerOne.UserName)
        <br />
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="1" y="20" font-family="Verdana" font-size="12" fill="black">@playerOne.cards[0].Name</text>
                <text x="1" y="40" font-family="Verdana" font-size="12" fill="black">@playerOne.cards[0].cardtype.ToString()</text>
                <text x="1" y="60" font-family="Verdana" font-size="12" fill="black">@playerOne.cards[0].Value.ToString()</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@playerOne.cards[1].Name</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[1].cardtype.ToString())</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[1].Value.ToString())</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[2].Name)</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[2].cardtype.ToString())</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[2].Value.ToString())</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[3].Name)</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[3].cardtype.ToString())</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[3].Value.ToString())</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[4].Name)</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[4].cardtype.ToString())</text>
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">@Html.DisplayText(playerOne.cards[4].Value.ToString())</text>
            </g>
        </svg>
    </div>
    <div class="left">
        @{ CGUser playerTwo = users[0];
            users.Remove(playerTwo);
        }
        @Html.Label(playerTwo.UserName)
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 1</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 2</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 3</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 4</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 5</text>
            </g>
        </svg>
    </div>
    <div class="right">
        @{ CGUser playerThree = users[0];
            users.Remove(playerThree);
        }
        @Html.Label(playerThree.UserName)
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 1</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 2</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 3</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 4</text>
            </g>
        </svg>
        <br />
        <svg width="100" height="70">
            <g>
                <rect width="100" height="60" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 5</text>
            </g>
        </svg>
    </div>
    <div class="top">
        @{ CGUser playerFour = users[0];
            users.Remove(playerFour);
        }
        @Html.Label(playerFour.UserName)
        <br />
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 1</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 2</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 3</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 4</text>
            </g>
        </svg>
        <svg width="70" height="100">
            <g>
                <rect width="60" height="100" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="0" y="20" font-family="Verdana" font-size="16" fill="black">Card 5</text>
            </g>
        </svg>
    </div>
    <div class="middle">
        Card in play
        <svg alignment-baseline="middle" width="80" height="110">
            <rect width="75" height="100" style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(0,0,0)" />
        </svg>
        <svg width="80" height="110">
            <rect width="75" height="100" style="fill:rgb(25, 67, 175);stroke-width:3;stroke:rgb(0, 0, 0)" />
        </svg>
    </div>

</body>

